@font-face {
    font-family: MoonTime;
    src: url("/MoonTime-Regular.woff") format("woff");
}

:root {
    --bg-color: white;
    --nav-bg: white;
    --font-color: #1B0404;
    --link-color: #1B0404;
    --primary-color: #AB856E;
    --primary-opaque: rgba(171, 133, 110, 0.4);
    --secondary-color: #facb8b;
    --notification-bg:#3a40d6;
    --notification-border:  #2E34EA ;
    --warning-bg: #ec9292 ;
    --warning-border: #f36e6e;
    --button-border: #cba8a2;
    --button-bg: white;
    --button-bg-hover: #cba8a2;
    --button-border-hover:var(--font-color);
    --card-bg: white;
    --card-border: #cba8a2;
    --outline: orange;
    --max-width: 1480px;
    --min-width: 300px;
    // font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Noto Sans JP', sans-serif;


    /* contrast check 1
    color 1 fffaf4
    color 2 601416 - PASS
    mauve : #9d6d69 - FAIL
    color 4 cba8a2 with text #311C1C
    color 5 b9928d with text #1B0404

    contrast check 2
    color 1 d4a659 
    color 2 c77a44
    color 3 fcf6f6
    color 4 e5c2a2
    color 5 e5d9db
    */



    // @media (prefers-color-scheme: dark) {
    //   --bg-color: black;
    //   --font-color: white;
    //   --primary-color: #FA938B;
    //   --secondary-color: #facb8b;
    //   --outline: white;
    // }
}

#__next {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    
    
    background: rgba(241, 241, 241, 0.37);
    color: var(--font-color);
    nav{
        background: var(--nav-bg);
    }
    // min-height: 100vh;
    // min-width: var(--min-width);
    // max-width: var(--max-width);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 1px solid var(--outline);
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body  {
    background: var(--bg-color);
    
}
// main{
//   min-height: 90vh;
// }

// main{
//   // min-height: 90vh;
//   min-width: var(--min-width);
//   max-width: var(--max-width);
// }
// nav{
//   min-width: var(--min-width);
//   max-width: var(--max-width);
// }
// footer{
//   min-width: var(--min-width);
//   max-width: var(--max-width);
// }

.cursive {
    font-family: 'MoonTime';
    letter-spacing: 2px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    &:visited {
        color: var(--link-color);
    }
    &:hover {
        cursor: pointer;
        color: var(--link-color);
    }
    &:active {
        color: var(--link-color);
    }
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.68rem;
}
// * {

//   border: 1px solid red;
//   *{
//     border: 1px solid grey;
//   }
// }
